.devices {
    background: rgb(255, 100, 39);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.devices-count {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1, p {
        color: #fff;
        text-transform: uppercase;
        text-align: center;
    }

    h1 {
        font-weight: 400;
        font-size: 52px;
    }

    p {
        font-weight: 400;
        width: 100px;
    }
}

.devices-circles {
    position: absolute;
    top: 30%;

    span {
        background: white;
        border-radius: 50%;
        margin-right: 5px;
        padding: 10px 15px;

        &:last-child {
            margin-right: 0;
        }
    }
}